<div class="container">
  <div class="well h3 center">Employee Directory</div>
	<table class="table table-striped">
    <tbody>
      <tr ng-repeat="employee in employees">
        <td><img src="{{employee.img}}" alt="{{employee.Name}}"></td>
        <td><span class="h4">{{employee.Name}}</span><br><br>
        	{{employee.Title}}
        </td>
        <td>
          <a href="#/reports/{{employee.DirectReport.toString()}}" ng-show="employee.DirectReport.length">{{employee.DirectReport.length}}</a>
        	<span ng-hide="employee.DirectReport.length">{{employee.DirectReport.length}}</span>
        	<a href="#/detail/{{employee.ID}}"><span class="glyphicon glyphicon-chevron-right right"></span></a>
        </td>
      </tr>
    </tbody>
	</table>
</div>